@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

.why-choose-us-container {
  background-color: #684b42d3;
  color: #f5f5f5;
  font-family: "Lato", sans-serif;

  /* position: relative;
  background-image: url("https://images.pexels.com/photos/29911738/pexels-photo-29911738.jpeg");
  background-size: cover;
  /* background-position: center; 
  background-repeat: no-repeat;
  color: #d9d8a6;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  min-height: 76vh;
  font-family: sans-serif; */

}

.header-section {
  margin-bottom: 40px;
}

.header-section h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

.header-section .subtitle {
  font-size: 1.7rem;
  font-weight: 300;
  color: #d7ccc8;
  margin-top: 5px;
}

.feature-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 40px 40px;
}

.feature-text {
  flex: 2;
  max-width: 60%;
}

.feature-text h3 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.feature-text p {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 300;
}

.feature-image {
  flex: 1;
  max-width: 320px;
}

.feature-image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.separator {
  border: 0;
  height: 1px;
  background-color: #8d6e63;
  margin: 0;
}

@media (max-width: 768px) {
  .why-choose-us-container {
    padding: 30px 20px;
  }

  .feature-item {
    flex-direction: column;
    text-align: center;
  }

  .feature-text {
    max-width: 100%;
  }
}
